.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
  
  .sim-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    margin: 0;
    border-bottom: 2px solid black;
  }
  
  .simulation-box {
    position: relative;
    width: 100vw;
    height: calc(100vh - 50px); /* Takes up the whole screen minus the banner */
    background-color: white;
    overflow: hidden;
    border: none;
  }
  